@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('./assets/fonts/ABCArizonaFlare-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ABC Arizona Flare';
    src: url('./assets/fonts/ABCArizonaFlare-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
